@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

body{
    min-width: 300px;
}
.carousel{
    height: 100vh;
}
.carousel-inner{
    height: 100%;
}
.carousel .carousel-indicators li{
    border-radius: 100%;
    width: 8px;
    height: 8px;
}
.carousel-indicators {
    top: 90%;
    z-index: 150;
  }
/* style for the first slide section */
.first_slide{
    background-color: #00cdde;
    height: 100vh;
    position: relative;
    padding: 28px 28px;
    position: relative;
    overflow: hidden;
}
.page_wrapper{
    border: 5px solid #fff;
    height: 95vh;
    width: 96%;
    z-index: 15;
    position: absolute;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
}

/* style for header */
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu_wrapper{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu_item a{
    text-decoration: none;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    padding: 0 15px 15px 15px;
}
.menu_item:hover a{
    color: red;
    transition: all 1s;
}

.btn_download{
    text-transform: uppercase;
    color: #fff;
    padding: 13px 25px;
    text-decoration: none;
    margin: 21px 20px 21px 20px;
    position: relative;
    background-image: url('../img/download_border.png');
    background-position: center;
    background-repeat: no-repeat;
}

.red_dot{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fe5803;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
.btn_download:hover{
    color: #fff;
    text-decoration: none;
}
.btn_download:active{
    transform: translateY(7px);
    transition: all 0.2s;
}

@media only screen and (max-device-width : 1024px) {
    .menu{
        display: none;
    }
    .page_wrapper{
        width: 96%;
    }
}

.logo{
    margin-left: 21px;
    position: relative;
}
.vertical_text{
    position: absolute;
    top: -4px;
    left: 55px;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    text-transform: uppercase;
    font-size: 7px;
}
.v_t_item1{
    width: 7px;
}
.v_t_item2{
    position: absolute;
    left: 10px;
    top: 40px;
}
@media only screen and (max-device-width : 1024px) {
    .vertical_text{
        position: absolute;
        top: 80px;
        left: 10px;
        font-family: 'Source Code Pro', monospace;
        color: #fff;
        text-transform: uppercase;
        font-size: 7px;
    }
}

/* burger menu */
.burger_menu{
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 100;
}
.line{
    width: 40px;
    height: 2px;
    background-color: #fff;
    transition: all .8s;
}
.line::before{
    display: block;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-9px);
    transition: all .7s;
}
.line::after{
    display: block;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fff;
    transform: translateY(7px);
    transition: all .3s;
}
.burger_active .line::before{
    transform: translateY(1px) rotate(45deg);
}
.burger_active .line::after{
    transform: translateY(-1px) rotate(-45deg);
}
.burger_active .line{
    background-color: transparent;
}
@media screen and (max-width:1024px){
    .burger_menu{
        display: block;
        top: 6%;
        right: 40px;
    }
}
@media screen and (max-width:640px){
    .burger_menu{
        display: block;
        top: 6%;
        right: 40px;
    }
}
.collapse_menu{
    display: none;
    position: fixed;
    top: -1600px;
    right: -300px;
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    z-index: 75;
    opacity: 0.9;
    transition: all .8s;
}
.collapse_menu_active{
    top: 0;
    right: 0;
    transition: all 1s; 
}
.collapse_menu_item{
    margin-top: 30px;
}
.collapse_menu ul{
    list-style: none;
    text-align: center;
}
.collapse_menu ul li .collapse_item_a{
    color: #ffb208;
    font-size: 55px;
    text-decoration: none;
}
/* end style for burger menu*/

/* end style for header */
.middle_lines{
    position: absolute;
    right: 40%;
    bottom: 35%;
    z-index: 50;
}
.ellipse{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation: load_ellips 2s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 39vw;
}
.ellipse img{
    width: 100%;
}
@keyframes load_ellips{
    0%{
       display: none;
       bottom: -600px;
       right: -300px;
    }
    40%{
        display: none;
        bottom: -600px;
        right: -300px;
     }
    100%{
        display: block;
        bottom: 0;
        right: 0;
    }
}

.hand_with_phone{
    position: absolute;
    right: 0;
    bottom: -5px;
    z-index: 30;
    animation: load_hand 2s ease-out;
    width: 52%;
}
.hand_with_phone img{
    width: 100%;
}
@keyframes load_hand{
    0%{
       display: none;
       bottom: -380px;
       transform: rotate(-30deg);
       right: 40px;
    }
    40%{
        display: none;
        bottom: -380px;
        transform: rotate(-30deg);
        right: 40px;
    }
    100%{
        display: block;
        bottom: -5px;
        transform: rotate(0deg);
        right: 0;
    }
}

.content{
    width: 50%;
    position: absolute;
    left: 9%;
    top: 20%;
    animation: load_content 2s ease-out;
    z-index: 25;
}
.content_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    line-height: 105px;
    color: #fff;
    text-transform: uppercase;
}
.content_title_red{
    color: #f24444;
}
.content_line{
    width: 86px;
    height: 7px;
    background-color: #f24444;
    margin-top: 40px;
}
.content_description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 14px;
}
.content_btn_group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 39px;
}
.content_store_button{
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    margin-right: 20px;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    font-size: 20px;
    width: 220px;
    height: 60px;
}
.content_store_button:hover{
    color: #fff;
    text-decoration: none;
}
.store_btn_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 18px;
}
.btn_caption{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.btn_label{
    font-size: 12px;
}
.content_store_button:active{
    transform: translateY(7px);
    transition: all 0.2s;
}
@keyframes load_content{
    0%{
       display: none;
       left: -800px;
    }
    40%{
        display: none;
        left: -800px;
    }
    100%{
        display: block;
        left: 9%;
    }
}
@keyframes load_content_responsive{
    0%{
       display: none;
       left: -800px;
    }
    40%{
        display: none;
        left: -800px;
    }
    100%{
        display: block;
        left: 4%;
    }
}

@media only screen and (max-device-width : 1024px) {
    .content{
        width: 90%;
    }
    .content_store_button{
        margin-top: 20px;
    }
    .middle_lines{
        display: none;
    }
} 
@media only screen and (max-device-width : 840px) {
    .content_title{
        font-size: 80px;
        line-height: 80px;
    }
    .content{
        top: 20%;
        left: 4%;
        text-align: center;
        animation: load_content_responsive 2s ease-out;
    }
    .content_line{
       margin: 20px auto 5px auto;
    }
    .content_btn_group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 39px;
    }
    .slide_wrapper{
        width: 91%;
    }
} 
@media only screen and (max-device-width : 640px) {
    .content{
        top: 20%;
        text-align: center;
    }
    .content_title{
        font-size: 40px;
        line-height: 40px;
    }
    .content_btn_group{
        display: none;
    }
    .slide_wrapper{
        width: 83%;
    }
    .ellipse{
        width: 70vw;
        z-index: 20;
    }
    .hand_with_phone{
        width: 90%;
    }
}
@media only screen and (max-device-width : 400px) {
    .ellipse{
        width: 50vw;
        z-index: 20;
    }
    .hand_with_phone{
        width: 75%;
    }
}
@media (min-device-width : 1024px) and (max-device-height : 840px) {
    .content{
       margin-left: 30px;
    }
    .content_title{
        font-size: 80px;
        line-height: 75px;
    }
    .content_line{
        width: 50px;
        height: 5px;
        margin-top: 20px;
    }
    .content_description{
        font-size: 15px;
        margin-top: 8px;
    }
    .content_btn_group{
        margin-top: 20px;
    }
    .content_store_button{
        font-size: 15px;
        width: 210px;
        height: 50px;
    }
}

.triangle{
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 100px;
    height: 40px;
    background-color: #00cdde;
    transform: translateX(-50%);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_triangle{
    background-color: #ffb208;
}
.third_triangle{
    background-color: #f24444;
}
@media only screen and (max-device-width : 640px) {
    .triangle{
        width: 50px;
        height: 20px;
        bottom: 2%;
    }
}
/* end style for the first slide section*/

/* style for the second slide section*/
.second_slide{
    background-color: #ffb208;
    height: 100vh;
    position: relative;
    padding: 28px 28px;
    position: relative;
    overflow: hidden;
}
.blue_bg{
    background-color: #0044fb;
}
.content_title_blue{
    color: #0044fb;
}
.second_slide_ellipse{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    animation: load_second_ellips 2s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 39vw;
}
.second_slide_ellipse img{
    width: 100%;
}
@keyframes load_second_ellips{
    0%{
       display: none;
       top: -500px;
       right: -300px;
    }
    40%{
        display: none;
        top: -500px;
        right: -300px;
    }
    100%{
        display: block;
        top: 0;
        right: 0;
    }
}
.hand_with_banan{
    position: absolute;
    right: -100px;
    top: 0;
    z-index: 7;
    animation: load_hand_with_banan 2s ease-out;
    width: 50%;
}
.hand_with_banan img{
    width: 70%;
}
@keyframes load_hand_with_banan{
    0%{
       display: none;
       top: -380px;
    }
    40%{
        display: none;
        top: -380px;
    }
    100%{
        display: block;
        top: 0;
    }
}

@media only screen and (max-device-width : 1024px) {
    .second_slide_content{
        margin-top: 100px;
    }
} 
@media only screen and (max-device-width : 640px) {
    .hand_with_banan{
        width: 70%;
    }
    .second_slide_ellipse{
        width: 50vw;
    }
}
/* end style for the second slide section*/

/* style for the third slide*/
.third_slide{
    background-color: #f24444;
    height: 100vh;
    position: relative;
    padding: 28px 28px;
    position: relative;
    overflow: hidden;
}
.third_slide_content_line{
    background-color: #00cdde;
}
.content_title_cyan{
    color: #00cdde;
}
.cyan_bg{
    background-color: #00cdde;
}
.hand_with_flowers{
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 7;
    animation: load_hand_with_flowers 2s ease-out;
    width: 50%;
}
.hand_with_flowers img{
    width: 70%;
}
@keyframes load_hand_with_flowers{
    0%{
       display: none;
       top: -380px;
       transform: rotate(-45deg);
    }
    40%{
        display: none;
        top: -380px;
        transform: rotate(-45deg);
    }
    100%{
        display: block;
        top: 0;
        transform: rotate(0deg);
    }
}
@media only screen and (max-device-width : 640px) {
    .hand_with_flowers{
        width: 75%;
    }
}
/* end style for the third slide*/